USE [QuanLyThuVien]
GO
/****** Object:  Table [dbo].[CTMUONTRA]    Script Date: 6/13/2020 6:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTMUONTRA](
	[MACTMUONTRA] [int] NOT NULL,
	[MASACH] [int] NOT NULL,
	[SOKIEMSOAT] [int] NOT NULL,
	[TINHTRANGTRA] [nvarchar](250) NOT NULL,
	[TIENBOITHUONG] [money] NOT NULL,
 CONSTRAINT [PK__CTMUONTR__967144294E3EAFD0] PRIMARY KEY CLUSTERED 
(
	[MACTMUONTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAUSACH]    Script Date: 6/13/2020 6:35:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAUSACH](
	[MADAUSACH] [int] NOT NULL,
	[SOKIEMSOAT] [int] NOT NULL,
	[TINHTRANG] [nvarchar](100) NULL,
	[GHICHU] [nvarchar](100) NOT NULL,
	[MASACH] [int] NULL,
 CONSTRAINT [PK__DAUSACH__3FC48E4CF604A092] PRIMARY KEY CLUSTERED 
(
	[MADAUSACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIAS]    Script Date: 6/13/2020 6:35:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIAS](
	[MADOCGIA] [int] NOT NULL,
	[HOTEN] [nvarchar](250) NULL,
	[SDT] [varchar](10) NULL,
	[EMAIL] [nvarchar](250) NULL,
 CONSTRAINT [PK_DOCGIAS] PRIMARY KEY CLUSTERED 
(
	[MADOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NXB]    Script Date: 6/13/2020 6:35:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NXB](
	[MANXB] [int] NOT NULL,
	[TEBNXB] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUONTRA]    Script Date: 6/13/2020 6:35:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUONTRA](
	[MAPHIEUMUONTRA] [int] NOT NULL,
	[NGAYMUON] [date] NULL,
	[NGAYTRA] [date] NULL,
	[MACTPHIEUMUON] [int] NOT NULL,
	[TRASACH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUMUONTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 6/13/2020 6:35:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [int] NOT NULL,
	[TENSACH] [nvarchar](100) NOT NULL,
	[TACGIA] [int] NOT NULL,
	[THELOAI] [int] NOT NULL,
	[NXB] [int] NOT NULL,
	[NAMXUATBAN] [date] NULL,
	[SOTRANG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 6/13/2020 6:35:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATACGIA] [int] NOT NULL,
	[TENTACGIA] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 6/13/2020 6:35:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MATHELOAI] [int] NOT NULL,
	[TENTHELOAI] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHELOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THETHUVIEN]    Script Date: 6/13/2020 6:35:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THETHUVIEN](
	[MATHETHUVIEN] [int] NOT NULL,
	[NGAYLAPTHE] [date] NOT NULL,
	[NGAYHETHAN] [date] NOT NULL,
	[MADOCGIA] [int] NULL,
	[CTMUONTRA] [int] NULL,
 CONSTRAINT [PK__THETHUVI__748560B4A7324697] PRIMARY KEY CLUSTERED 
(
	[MATHETHUVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTMUONTRA] ([MACTMUONTRA], [MASACH], [SOKIEMSOAT], [TINHTRANGTRA], [TIENBOITHUONG]) VALUES (1, 1, 22, N'Mới', 0.0000)
INSERT [dbo].[CTMUONTRA] ([MACTMUONTRA], [MASACH], [SOKIEMSOAT], [TINHTRANGTRA], [TIENBOITHUONG]) VALUES (2, 1, 11, N'Thanh Lý', 5.0000)
INSERT [dbo].[DAUSACH] ([MADAUSACH], [SOKIEMSOAT], [TINHTRANG], [GHICHU], [MASACH]) VALUES (1, 2, N'Mới', N'aaa', NULL)
INSERT [dbo].[DAUSACH] ([MADAUSACH], [SOKIEMSOAT], [TINHTRANG], [GHICHU], [MASACH]) VALUES (2, 1, N'Sắp Thanh Lý', N'aaaa', NULL)
INSERT [dbo].[DAUSACH] ([MADAUSACH], [SOKIEMSOAT], [TINHTRANG], [GHICHU], [MASACH]) VALUES (3, 3, N'Đã thanh lý', N'không', NULL)
INSERT [dbo].[DOCGIAS] ([MADOCGIA], [HOTEN], [SDT], [EMAIL]) VALUES (1, N'NguyễnThị Hảo', N'123456789', N'hao@gmail.com')
INSERT [dbo].[DOCGIAS] ([MADOCGIA], [HOTEN], [SDT], [EMAIL]) VALUES (2, N'Lê Thị Xuyến', N'231564789', N'xuyen@gmail.com')
INSERT [dbo].[DOCGIAS] ([MADOCGIA], [HOTEN], [SDT], [EMAIL]) VALUES (3, N'Nguyễn Văn Tuấn', N'235647892', N'tuan@gmail.com')
INSERT [dbo].[NXB] ([MANXB], [TEBNXB]) VALUES (1, N'Nhà Xuất Bản Giáo Dục')
INSERT [dbo].[NXB] ([MANXB], [TEBNXB]) VALUES (2, N'Nhà Xuất Bản Đà Nẵng')
INSERT [dbo].[NXB] ([MANXB], [TEBNXB]) VALUES (3, N'Nhà Xuất Bản TPHCM')
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TACGIA], [THELOAI], [NXB], [NAMXUATBAN], [SOTRANG]) VALUES (1, N'Đừng Chạy Theo Số Đông', 1, 1, 1, CAST(N'2019-10-10' AS Date), 122)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TACGIA], [THELOAI], [NXB], [NAMXUATBAN], [SOTRANG]) VALUES (2, N'Dậy sớm để thành công', 1, 1, 1, CAST(N'2020-06-02' AS Date), 111)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TACGIA], [THELOAI], [NXB], [NAMXUATBAN], [SOTRANG]) VALUES (3, N'Yêu để trưởng thành', 1, 1, 1, CAST(N'2020-06-02' AS Date), 121)
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA]) VALUES (1, N'Trần Cảnh')
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA]) VALUES (2, N'Lê Thị Đào')
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA]) VALUES (3, N'Chu Tiểu Minh')
INSERT [dbo].[THELOAI] ([MATHELOAI], [TENTHELOAI]) VALUES (1, N'Giáo Dục')
INSERT [dbo].[THELOAI] ([MATHELOAI], [TENTHELOAI]) VALUES (2, N'Kỹ Năng')
INSERT [dbo].[THELOAI] ([MATHELOAI], [TENTHELOAI]) VALUES (3, N'Đời Sống')
INSERT [dbo].[THETHUVIEN] ([MATHETHUVIEN], [NGAYLAPTHE], [NGAYHETHAN], [MADOCGIA], [CTMUONTRA]) VALUES (1, CAST(N'2020-02-02' AS Date), CAST(N'2020-02-03' AS Date), 1, 1)
INSERT [dbo].[THETHUVIEN] ([MATHETHUVIEN], [NGAYLAPTHE], [NGAYHETHAN], [MADOCGIA], [CTMUONTRA]) VALUES (2, CAST(N'2020-06-19' AS Date), CAST(N'2020-06-24' AS Date), 1, 1)
INSERT [dbo].[THETHUVIEN] ([MATHETHUVIEN], [NGAYLAPTHE], [NGAYHETHAN], [MADOCGIA], [CTMUONTRA]) VALUES (3, CAST(N'2020-06-01' AS Date), CAST(N'2020-06-08' AS Date), 1, 1)
ALTER TABLE [dbo].[PHIEUMUONTRA] ADD  DEFAULT (getdate()) FOR [NGAYMUON]
GO
ALTER TABLE [dbo].[PHIEUMUONTRA] ADD  DEFAULT (getdate()) FOR [NGAYTRA]
GO
ALTER TABLE [dbo].[SACH] ADD  DEFAULT (getdate()) FOR [NAMXUATBAN]
GO
ALTER TABLE [dbo].[CTMUONTRA]  WITH CHECK ADD  CONSTRAINT [FK_CTMUONTRA_DAUSACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[DAUSACH] ([MADAUSACH])
GO
ALTER TABLE [dbo].[CTMUONTRA] CHECK CONSTRAINT [FK_CTMUONTRA_DAUSACH]
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [FK_DAUSACH_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [FK_DAUSACH_SACH]
GO
ALTER TABLE [dbo].[PHIEUMUONTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUONTRA_CTMUONTRA] FOREIGN KEY([MACTPHIEUMUON])
REFERENCES [dbo].[CTMUONTRA] ([MACTMUONTRA])
GO
ALTER TABLE [dbo].[PHIEUMUONTRA] CHECK CONSTRAINT [FK_PHIEUMUONTRA_CTMUONTRA]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NXB] FOREIGN KEY([NXB])
REFERENCES [dbo].[NXB] ([MANXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NXB]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_TACGIA] FOREIGN KEY([TACGIA])
REFERENCES [dbo].[TACGIA] ([MATACGIA])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_TACGIA]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_THELOAI] FOREIGN KEY([THELOAI])
REFERENCES [dbo].[THELOAI] ([MATHELOAI])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_THELOAI]
GO
ALTER TABLE [dbo].[THETHUVIEN]  WITH CHECK ADD  CONSTRAINT [FK_THETHUVIEN_CTMUONTRA1] FOREIGN KEY([CTMUONTRA])
REFERENCES [dbo].[CTMUONTRA] ([MACTMUONTRA])
GO
ALTER TABLE [dbo].[THETHUVIEN] CHECK CONSTRAINT [FK_THETHUVIEN_CTMUONTRA1]
GO
ALTER TABLE [dbo].[THETHUVIEN]  WITH CHECK ADD  CONSTRAINT [FK_THETHUVIEN_DOCGIAS1] FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIAS] ([MADOCGIA])
GO
ALTER TABLE [dbo].[THETHUVIEN] CHECK CONSTRAINT [FK_THETHUVIEN_DOCGIAS1]
GO
ALTER TABLE [dbo].[PHIEUMUONTRA]  WITH CHECK ADD  CONSTRAINT [CHECK_NGAYTRA] CHECK  (([NGAYTRA]>[NGAYMUON]))
GO
ALTER TABLE [dbo].[PHIEUMUONTRA] CHECK CONSTRAINT [CHECK_NGAYTRA]
GO
ALTER TABLE [dbo].[THETHUVIEN]  WITH CHECK ADD  CONSTRAINT [CHECK_NGAYHETHAN] CHECK  (([NGAYHETHAN]>[NGAYLAPTHE]))
GO
ALTER TABLE [dbo].[THETHUVIEN] CHECK CONSTRAINT [CHECK_NGAYHETHAN]
GO
